<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="{{ url_for('static', path='favicon.svg') }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', path='dist/main.css') }}" />
</head>

<body>
  <main>
    {% block content %}{% endblock %}
  </main>
  <script type="module" src="{{ url_for('static', path='dist/main.js') }}"></script>
</body>

</html>
